<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn"> <!-- debug for everything -->
    <Properties>
        <Property name="filename-client">logs/client.log</Property>
        <Property name="filename-client-error">logs/client-error.log</Property>
        <Property name="filename-server">logs/server.log</Property>
        <Property name="filename-server-error">logs/server-error.log</Property>
        <Property name="filename-queues">logs/queues.log</Property>
    </Properties>
 
    <Appenders>
        <!-- the standard-console-appender -->
        <Console name="appender-Console-all" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
 
        <!-- the appenders for server 1 -->
        <File name="appender-client" fileName="${filename-client}" append="true">
            <PatternLayout pattern="%msg%n" />
        </File>
        <File name="appender-client-error" fileName="${filename-client-error}" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
 
        <!-- the appenders for server 2 -->
        <File name="appender-server" fileName="${filename-server}" append="true">
            <PatternLayout pattern="%msg%n" />
        </File>
        <File name="appender-server-error" fileName="${filename-server-error}" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="appender-queues" fileName="${filename-queues}" append="true">
            <PatternLayout pattern="%msg%n" />
        </File>
    </Appenders>
 
 
    <Loggers>
        <!-- Every configuration must have a root logger. If one is not configured the default root LoggerConfig is ERROR with Console appender attached. -->
        <Root level="ERROR">
            <AppenderRef ref="appender-Console-all" />
        </Root>
 
        <!-- server1-loggers -->
        <!-- additivity means, that parent-logger (in every case the root-logger) will also get the chance to log this stuff -->
        <Logger name="asl.log.client"  additivity="FALSE" level="ALL">
            <AppenderRef ref="appender-client"  level="INFO" />
        </Logger>
        
        <Logger name="asl.log.error.client" level="ERROR">
            <AppenderRef ref="appender-client-error" level="ERROR" />
        </Logger>
 
        <!-- server2-loggers -->
        <!-- additivity means, that parent-logger (in every case the root-logger) will also get the chance to log this stuff -->
        <Logger name="asl.log.server" additivity="FALSE" level="ALL">
            <AppenderRef ref="appender-server" level="INFO" />
        </Logger>
        
        <Logger name="asl.log.error.server" level="ERROR">
            <AppenderRef ref="appender-server-error" level="ERROR" />
        </Logger>
        <Logger name="asl.log.queues"  additivity="FALSE" level="TRACE">
            <AppenderRef ref="appender-queues" level="TRACE" />
        </Logger>
    </Loggers>
</Configuration>